<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue form handling</title>
</head>

<body>
    <div id="app">
        <form @submit.prevent="signIn">
            <p>
                <label for="">
                    Email Address
                </label>
                <!-- setup bidirectional binding between input and user.email -->
                <input type="text" v-model="user.email">
            </p>
            <p>
                <label for="">Password</label>
                <input type="password" v-model="user.password">
            </p>
            <p>
                <button>Sign In</button>
            </p>
        </form>

        {{ user.email }}

        <hr>

        <p>
            <label>
                <!-- checkbox can be bound to a boolean value -->
                <input type="checkbox" v-model="autoplay">
                Autoplay is
                <template v-if="autoplay">on</template>
                <template v-else>off</template>
            </label>
        </p>

        <hr>

        <p>
            <!-- when using multiple checkboxes the value can be an array -->
            <!-- checking a box will add the value to the array -->
            <label for="">
                <input type="checkbox" v-model="shoppingList" value="milk">
                Milk
            </label>
            <label for="">
                <input type="checkbox" v-model="shoppingList" value="bread">
                Bread
            </label>
            <label for=""></label>
            <input type="checkbox" v-model="shoppingList" value="eggs">
            Eggs
            </label>
        </p>

        {{ shoppingList }}

        <hr>

        <p>
            <label for="">
                <input type="radio" v-model="gender" value="male">
                Male
            </label>
            <label for="">
                <input type="radio" v-model="gender" value="female">
                Female
            </label>
            <label for="">
                <input type="radio" v-model="gender" value="other">
                Other
            </label>
        </p>

        {{ gender }}

        <hr>

        <select v-model="assigneeId">
            <option value="">Select a user</option>
            <option v-for="user in users" v-bind:value="user.id">
                {{ user.name }}
            </option>
        </select>

        <p>
            Assigned to (ID): {{ assigneeId }}
        </p>

        <hr>

        <!-- v-model also supports modifiers -->
        <!-- https://vuejs.org/guide/components/v-model#handling-v-model-modifiers -->
        <textarea v-model.lazy.trim="note"></textarea>

        <p style="white-space: pre-line;">
            {{ note.length }}
        </p>

        <hr>


        <p>
            <input type="number" v-model.number="price">
        </p>
        {{ price + shippingPrice }}

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref, reactive } = Vue

        const app = createApp({
            setup() {

                const user = reactive({
                    email: '',
                    password: '',
                })
                // const email = ref('')
                // const password = ref('')

                const signIn = async () => {
                    console.log('signIn')

                    // todo: call server

                    // const response = await fetch('/auth/login', {
                    //    method: 'POST',
                    //    body: JSON.stringify(user),
                    // })

                    user.email = ''
                    user.password = ''
                }

                // autoplay for single checkbox

                const autoplay = ref(false)

                // shopping list for multiple checkboxes

                const shoppingList = ref([])

                // gender for single radio button

                const gender = ref()

                // users and assigneeId for select input
                // - where assigneeId is the selected user
                // - users is the list of users to choose from
                const assigneeId = ref('')
                const users = ref([
                    { id: 1, name: 'John Doe' },
                    { id: 2, name: 'Jane Doe' },
                    { id: 3, name: 'John Smith' },
                    { id: 4, name: 'Jane Smith' },
                ])


                // note for textarea

                const note = ref('')

                // shipping price for number input
                const shippingPrice = 1500
                const price = ref(0)

                return {
                    signIn,
                    user,
                    //
                    autoplay,
                    //
                    shoppingList,
                    //
                    gender,
                    //
                    assigneeId,
                    users,
                    //
                    note,
                    //
                    shippingPrice,
                    price
                }
            }
        }).mount('#app')
    </script>
</body>

</html>
